<div
  style="
    font-family: Helvetica, Arial, sans-serif;
    min-width: 1000px;
    overflow: auto;
    line-height: 2;
  "
>
  <div style="margin: 50px auto; width: 70%; padding: 20px 0">
    <div style="border-bottom: 1px solid #eee">
      <a
        href=""
        style="
          font-size: 1.4em;
          color: #00466a;
          text-decoration: none;
          font-weight: 600;
        "
        >Tripp</a
      >
    </div>
    <p style="font-size: 1.1em">Hi,</p>
    <p>
      We received a request to reset the password for your account. If you did
      not make this request, please ignore this email. Otherwise, click the
      button below to reset your password:
    </p>

    <p>
      <a
        href="<%= link %>"
        style="
          background: #00466a;
          margin: 0 auto;
          width: max-content;
          padding: 0 10px;
          color: #fff;
          border-radius: 4px;
        "
        >Reset Password</a
      >
    </p>
    <p>This password reset link will expire in 1 hour.</p>
    <p style="font-size: 0.9em">Regards,<br />Tripp</p>
    <hr style="border: none; border-top: 1px solid #eee" />
    <div
      style="
        float: right;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
      "
    >
      <p>Tripp</p>
      <p>Indonesia</p>
    </div>
  </div>
</div>
